<?xml version="1.0" encoding ="utf-8"?>
	<!--Configuracion para el uso de la EntLib Logging-->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add source="Logging Quick Start" formatter="Text Formatter" log="" machineName="." listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Event Log Destination"/>
            <add fileName="d:\www\docs\users\interfoodargentina.com.ar\Interfood.log.txt" header="" footer="" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Flat File Destination"/>
            <!--<add fileName="E:\Mis Clientes\Food\Interfood.log.txt" header="" footer="" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Flat File Destination"/>-->
		</listeners>
		<formatters>
			<add template="{timestamp(local:yyyy-MM-dd hh:mm:ss,ffffff)}{tab}{title}{tab}{category}{tab}{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
		</formatters>
		<logFilters>
			<add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category">
				<categoryFilters>
					<add name="UI Events"/>
				</categoryFilters>
			</add>
			<add minimumPriority="2" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Priority"/>
			<add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="LogEnabled Filter"/>
		</logFilters>
		<categorySources>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Flat File Destination"/>
				</listeners>
			</add>
			<add switchValue="All" name="Error">
				<listeners>
					<add name="Flat File Destination"/>
				</listeners>
			</add>
			<add switchValue="All" name="Info">
				<listeners>
					<add name="Flat File Destination"/>
				</listeners>
			</add>
			<add switchValue="All" name="Message">
				<listeners>
					<add name="Flat File Destination"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Destination"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
