<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Gtr Tech</title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="10" width="601" align="center" style="border:solid 1px #1e82a3;">
        <tr>
            <td colspan="2">
                <img alt="" src="{FullSiteName}Templates/Images/gtr-logo.jpg" />
            </td>
        </tr>
        <tr bgcolor="#1e82a3">
            <td style="height: 35px; border-bottom: solid 4px #1a7096; font-family: Tahoma; font-size: 19px;
                color: White; padding-left: 10px;" colspan="2">
                CONTACT FORM
            </td>
        </tr>
        <tr>
            <td style="width:10%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Name
            </td>
            <td style="width:90%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Name}}
            </td>
        </tr>
        <tr>
            <td style="width:10%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Email
            </td>
            <td style="width:90%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Email}}
            </td>
        </tr>
        <tr>
            <td style="width:10%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Phone
            </td>
            <td style="width:90%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Phone}}
            </td>
        </tr>
        <tr>
            <td style="width:10%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Address
            </td>
            <td style="width:90%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Address}}
            </td>
        </tr>
        <tr>
            <td style="width:10%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Message
            </td>
            <td style="width:90%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Message}}
            </td>
        </tr>
    </table>
</body>
</html>
