<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Gtr Tech</title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="10" width="601" align="center" style="border:solid 1px #1e82a3;">
        <tr>
            <td colspan="2">
                <img alt="" src="{FullSiteName}Templates/Images/gtr-logo.jpg" />
            </td>
        </tr>
        <tr bgcolor="#1e82a3">
            <td style="height: 35px; border-bottom: solid 4px #1a7096; font-family: Tahoma; font-size: 19px;
                color: White; padding-left: 10px;" colspan="2">
                SCHEDULE FORM
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Client Name
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{ClientName}}
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Client Contact Number
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{ClientContactNumber}}
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Address
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Address}}
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Type of Serviced
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{TypeOfServiced}}
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Service
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Service}}
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Best time
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{BestTime}}
            </td>
        </tr>
        <tr>
            <td style="width:20%;color:#545454;font-family:Tahoma,Arial;font-size:12px;">
                Description
            </td>
            <td style="width:80%;color:#318999;font-family:Tahoma,Arial;font-size:12px;">
                {{Description}}
            </td>
        </tr>
    </table>
</body>
</html>
